@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source './node_modules/heroui-native/lib';

/* 
  1. Map CSS variables to Tailwind Utilities 
  This tells Tailwind: "When I write 'bg-accent', use 'var(--accent)'"
*/
@theme {
  /* Base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Surface */
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-surface-secondary: var(--surface-secondary);
  --color-surface-secondary-foreground: var(--surface-secondary-foreground);
  --color-surface-tertiary: var(--surface-tertiary);
  --color-surface-tertiary-foreground: var(--surface-tertiary-foreground);

  /* Overlay */
  --color-overlay: var(--overlay);
  --color-overlay-foreground: var(--overlay-foreground);

  /* UI States */
  --color-muted: var(--muted);
  --color-default: var(--default);
  --color-default-foreground: var(--default-foreground);

  /* Accent / Brand */
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  /* Status */
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  /* Misc */
  --color-border: var(--border);
  --color-separator: var(--separator);
  --color-link: var(--link);
  --color-segment: var(--segment);
  --color-segment-foreground: var(--segment-foreground);
}

/* 2. Define the values of those variables */
@layer theme {
  :root {
    @variant light {
      /* Base Colors */
      --background: oklch(0.9911 0 0);
      --foreground: oklch(0.2046 0 0);

      /* Surface */
      --surface: oklch(0.9911 0 0);
      --surface-foreground: oklch(0.2046 0 0);
      --surface-secondary: oklch(0.994 0 0);
      --surface-secondary-foreground: oklch(0.2046 0 0);
      --surface-tertiary: oklch(0.9461 0 0);
      --surface-tertiary-foreground: oklch(0.2435 0 0);

      /* Overlay */
      --overlay: oklch(0.9911 0 0);
      --overlay-foreground: oklch(0.4386 0 0);

      /* General UI States */
      --muted: oklch(0.9461 0 0);
      --default: oklch(0.9731 0 0);
      --default-foreground: oklch(0.2435 0 0);

      /* Accent / Brand */
      --accent: oklch(0.8348 0.1302 160.908);
      --accent-foreground: oklch(0.2626 0.0147 166.4589);

      /* Status Colors */
      --success: oklch(0.8348 0.1302 160.908);
      --success-foreground: oklch(0.2626 0.0147 166.4589);

      --danger: oklch(0.5523 0.1927 32.7272);
      --danger-foreground: oklch(0.9934 0.0032 17.2118);

      --warning: oklch(0.7686 0.1647 70.0804);
      --warning-foreground: oklch(0.2046 0 0);

      /* Misc */
      --border: oklch(0.9037 0 0);
      --separator: oklch(0.9037 0 0);
      --focus: var(--accent);
      --link: oklch(0.6231 0.188 259.8145);

      /* Component Specific */
      --segment: oklch(0.9731 0 0);
      --segment-foreground: oklch(0.2046 0 0);

      /* Shadows */
      --surface-shadow: var(--shadow-sm);
      --overlay-shadow: var(--shadow-lg);
      --field-shadow: var(--shadow-xs);
    }

    @variant dark {
      /* Base Colors */
      --background: oklch(0.1591 0 0);
      --foreground: oklch(0.9501 0.0097 252.8122);

      /* Surface */
      --surface: oklch(0.209 0 0);
      --surface-foreground: oklch(0.9501 0.0097 252.8122);
      --surface-secondary: oklch(0.2603 0 0);
      --surface-secondary-foreground: oklch(0.9851 0 0);
      --surface-tertiary: oklch(0.252 0 0);
      --surface-tertiary-foreground: oklch(0.6993 0 0);

      /* Overlay */
      --overlay: oklch(0.2603 0 0);
      --overlay-foreground: oklch(0.7348 0 0);

      /* General UI States */
      --muted: oklch(0.252 0 0);
      --default: oklch(0.2603 0 0);
      --default-foreground: oklch(0.6993 0 0);

      /* Accent / Brand */
      --accent: oklch(0.76 0.2222 144.2837);
      --accent-foreground: oklch(0 0 0);

      /* Status Colors */
      --success: oklch(0.8003 0.1821 151.711);
      --success-foreground: oklch(0.1591 0 0);

      --danger: oklch(0.6509 0.2199 25.0358);
      --danger-foreground: oklch(1 0 0);

      --warning: oklch(0.8369 0.1644 84.4286);
      --warning-foreground: oklch(0.209 0 0);

      /* Misc */
      --border: oklch(0.2809 0 0);
      --separator: oklch(0.2809 0 0);
      --focus: var(--accent);
      --link: oklch(0.7137 0.1434 254.624);

      /* Component Specific */
      --segment: oklch(0.1822 0 0);
      --segment-foreground: oklch(0.6301 0 0);

      /* Shadows */
      --surface-shadow: 0 0 0 0 transparent;
      --overlay-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.1) inset;
      --field-shadow: 0 0 0 0 transparent;
    }
  }
}
